.filterByName_search {
    margin-top: 10px;
    color: dimgray;
    cursor: pointer;
}

.filterByName_list {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.filterByName_item {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}